/* nejsme vcerejsi, pouzivame moderni a intuitivni box model */
html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }

body {
    text-rendering: optimizeLegibility;
}

/*
 BARVY
 svetle sede pozadi      #f5f5f5
 tmavsi seda             #959595
 barevny prechod nahore  #06d7c1
 barevny prechod dole    #50cc49
 zelena cara             #06d7c1
 oranzova                #f15f42

 PISMO
 Rubik - pouzite rezy pisma regular 400 a medium 500
 https://fonts.google.com/specimen/Rubik
*/

/* ----- zde zacni psat vlastni css ----- */

body {
    background-color:  #f5f5f5;
}

.zbozi {
    font-family: 'Rubik', sans-serif;
    font-size: 14px;
    font-weight: 400;
    display: flex;
    width: 670px;
    height: 440px;
    margin: 0 auto;
    margin-top: 80px;
    box-shadow: 2px 2px 10px  lightgrey; 
    border-radius: 10px;
}

.vizual {
    width: 50%;
    background: linear-gradient(#06d7c1, #50cc49);
    border-radius: 10px 0 0 10px;
    position: relative;
    color: white;
}

.logo {
    padding-top: 30px;
    padding-left: 30px;
}

.slogan {
    margin: 0;
    padding-top: 30px;
    padding-left: 30px;
    font-size: 16px;
    font-weight: 500;
}

.bota {
    position: absolute;
    left: -80px;
    top: 140px;
}

.cenovka {
    text-align: right;
    position: absolute;
    bottom: 30px;
    right: 30px;
}

.cena {
    font-size: 28px;
    font-weight: 500;
    line-height: 2.5rem;
}

.zaruka {
    font-size: 12px;
    font-weight: 400;
}

.detaily {
    width: 50%;
    padding: 30px;
    background-color: white;
    border-radius: 0 10px 10px 0;
    position: relative;
}

.nazev {
    margin: 0;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 500px;
}

.produkt {
    color: #959595;
}

.popis {
    padding-top: 15px;
    padding-bottom: 30px;
    margin: 0;
}

.parametr {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    border-top: 1px solid #06d7c1;
    margin: 0;
    padding-top: 30px;
}

.velikosti {
    padding: 0;
    display: flex;
    justify-content: space-around;
}


.velikosti li {
    display: inline-block;
    padding: 5px;
}

.vybrana {
    color: #f15f42;
    border: 1px solid #f15f42;
    border-radius: 50%;
}

.tlacitko {
    position: absolute;
    bottom: 30px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    background-color: #f15f42;
    border-radius: 5px;
    box-shadow: 2px 2px 10px  lightgrey;
    padding: 12px 30px;

}

.tlacitko:hover,
.tlacitko:focus,
.tlacitko:active {
    background-color: #cf543b;
}
